.task {
  background: white;
  border-radius: 4px;
  min-height: 5rem;
  color: black;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.burromwrapper {
  display: flex;
  justify-content: space-between;
}

.status {
  font-size: small;
  background-color: var(--COLORO-GRAY-LIGHT);
  padding: 0.25rem;
  border-radius: 4px;
}

.PLANNED {
  background-color: var(--COLORO-GRAY-LIGHT);
}
.ONGOING {
  background-color: var(--COLORO-ONGOING);
}

.DONE {
  background-color: var(--COLORO-DONE);
}
